#GSM_num_image0{
width:220px;
height:40px;
}
#INH_treatment_status_image0{
width:100px;
height:20px;
}
#patient_name_image0{
width:220px;
height:40px;
}
#CD4_count_image0{
width:110px;
height:40px;
}
#CTZ_treatment_status_image0{
width:100px;
height:20px;
}
#patient_ID_image0{
width:140px;
height:40px;
}
#CD4_percent_image0{
width:70px;
height:40px;
}
#date_of_record_image0{
width:200px;
height:40px;
}
#TB_treatment_status_image0{
width:100px;
height:20px;
}
#date_next_visit_image0{
width:200px;
height:40px;
}
#screen_for_tb_image0{
width:60px;
height:20px;
}
#permanent_status_image0{
width:130px;
height:20px;
}
#WHO_stage_image0{
width:80px;
height:20px;
}
#Name_HU_transferred_to_image0{
width:90px;
height:30px;
}
