#Other_comm_serv_image0{
width:100px;
height:30px;
}
#Home_village_image0{
width:170px;
height:40px;
}
#Clinical_serv_ref_for_image0{
width:240px;
height:20px;
}
#Name_HU_transf_from_image0{
width:100px;
height:30px;
}
#GSM_number_image0{
width:240px;
height:40px;
}
#Name_ANC_or_TB_clinic_image0{
width:100px;
height:30px;
}
#Date_of_registration_image0{
width:190px;
height:40px;
}
#Transf_from_HU_image0{
width:30px;
height:20px;
}
#Comm_serv_referred_for_image0{
width:100px;
height:20px;
}
#Patient_name_image0{
width:300px;
height:40px;
}
#STI_screen_image0{
width:30px;
height:20px;
}
#Patient_sex_image0{
width:30px;
height:20px;
}
#TB_screen_image0{
width:30px;
height:20px;
}
#Referred_from_image0{
width:210px;
height:20px;
}
#Care_adherence_edu_image0{
width:30px;
height:20px;
}
#Referred_from_other_image0{
width:90px;
height:30px;
}
#Patient_ID_image0{
width:130px;
height:40px;
}
#Other_clinical_serv_image0{
width:100px;
height:30px;
}
#Patient_DOB_image0{
width:190px;
height:40px;
}
