.odk-container, .odk-screen, .odk-scroll, .ui-page, .ui-li, .ui-page  {
	color: {{font-color}};
	background: {{background-color}}; 
	text-shadow: 0 /*{d-body-shadow-x}*/ 0 /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ #000 /*{d-body-shadow-color}*/;
  font-family:  {{font-family}};
  
}
.odk-label {
	color: {{font-color}};
    font-size: large;
}

.odk-hint {
	color: {{font-color}};
	font-size: 95%;
    font-style: italic;
}

.ui-btn-text {
	color:  {{button-text-color}};
    font-size: 1em;
}

.ui-btn-text .ui-bar-c {
	color: #000;
}

.ui-btn-up-d a.ui-link-inherit{
	color:  {{button-text-color}};
}

.ui-btn-hover-d a.ui-link-inherit{
	color: {{button-text-color}};
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner, .ui-header .ui-btn-inner .ui-btn-text {
	color:  #000000;
    font-size: 1em;
}
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label {
    font-size: 1em;
}

/* Form element styles */
.ui-bar-a{border:1px solid {{button-color}};background:{{button-color}};color:#fff;font-weight:bold;font-family:inherit;}
.ui-bar-a .ui-link-inherit{color:{{font-color}}}
.ui-bar-a a.ui-link{color:{{font-color}};font-weight:bold;}
.ui-bar-a a.ui-link:visited{color:#2489ce}
.ui-bar-a a.ui-link:hover{color:#2489ce}
.ui-bar-a a.ui-link:active{color:#2489ce}
.ui-bar-a input,.ui-bar-a select,.ui-bar-a textarea,.ui-bar-a button{font-family:inherit}
.ui-body-a,.ui-overlay-a{border:2px solid {{background-color}};color:{{font-color}};background:{{background-color}};background-image:none}
.ui-body-a{font-family:inherit;}
.ui-body-a input,.ui-body-a select,.ui-body-a textarea,.ui-body-a button{font-family:inherit}
.ui-body-a .ui-link-inherit{color:#333}
.ui-body-a .ui-link{color:{{button-color-start}};font-weight:bold;}
.ui-body-a .ui-link:visited,.ui-body-a .ui-link:hover,.ui-body-a .ui-link:active{color:{{button-selected-color}}}
.ui-body-a.ui-input-text{border:2px solid #eee;}
.ui-body-a.ui-input-text.ui-focus{border:2px solid {{button-border-color}};-webkit-transition:border linear .2s;-moz-transition:border linear .2s;-o-transition:border linear .2s;transition:border linear .2s}
.ui-btn-up-a{border:1px solid {{button-border-color}};background-image:-webkit-linear-gradient({{button-color-start}}, {{button-color-end}});font-weight:bold;color:#fff;}
.ui-btn-up-a:visited,.ui-btn-up-a a.ui-link-inherit{color:#fff}
.ui-btn-hover-a{border:1px solid {{button-border-color}};background:{{button-selected-color}};font-weight:bold;color:#fff;}
.ui-btn-hover-a:visited,.ui-btn-hover-a:hover,.ui-btn-hover-a a.ui-link-inherit{color:#fff}
.ui-btn-down-a{border:1px solid {{button-border-color}};background:{{button-selected-color}};font-weight:bold;color:#fff;}
.ui-btn-down-a:visited,.ui-btn-down-a:hover,.ui-btn-down-a a.ui-link-inherit{color:#fff}
.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a{font-family:inherit;text-decoration:none}
.ui-btn-up-d {border:1px solid {{button-border-color}};
	background-image:-webkit-linear-gradient({{button-color-start}}, {{button-color-end}});
	font-weight:bold;
	color:{{button-color-start}};}
.ui-btn-down-d {border:1px solid {{button-border-color}};
	background-image:-webkit-linear-gradient({{button-selected-color-start}}, {{button-selected-color-end}});
	font-weight:bold;
	color:{{button-selected-color-start}};}
.ui-checkbox-on, .ui-radio-on {border:1px solid {{button-border-color}};
	background-image:-webkit-linear-gradient({{button-selected-color-start}}, {{button-selected-color-end}});
	font-weight:bold;color:{{button-selected-color-start}};}
.ui-controlgroup-vertical .ui-radio .ui-btn-inner, .ui-controlgroup-vertical .ui-checkbox .ui-btn-inner  {height: {{button-height}};}
.ui-controlgroup-vertical .ui-radio .ui-btn-text, .ui-controlgroup-vertical .ui-checkbox .ui-btn-text {
    font-size: {{button-text-size}};
}
.ui-controlgroup-vertical .ui-radio .ui-btn-text, .ui-controlgroup-vertical .ui-checkbox .ui-btn-text {
	position: absolute;
	height: {{button-text-size}};
	top: {{button-offset}};
	padding-top: inherit;
	padding-left: 0px;
}

.ui-corner-all {
	-webkit-border-radius:  {{button-radius}}; /*{global-radii-blocks}*/
	border-radius: {{button-radius}} /*{global-radii-blocks}*/;
}


.ui-btn-up-c .ui-btn-text, .ui-btn-down-c .ui-btn-text {
	-webkit-color: #000;
}

