/* CSS Stylesheet - GEO Example Detail View*/
body {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

h1 {
	margin: 10px;
}

div.transparent {
	
	margin: 15px 2%;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
}

div.transparent p {
	margin: 10px 5px;
	font-weight: bold;
	color: #000000;
}