/*.odk-container, .odk-screen, .odk-scroll, .ui-page, .ui-li, .ui-page,
.ui-overlay-a,
.ui-body-a, body{
	color: #ffffff;
	background: #004756;
	text-shadow: 0;
}*/
body {
	overflow: auto;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
    height: 100%;
    /* This is to disable accidental highlighting of survey text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:large;
	color: #ffffff ! important;
	text-shadow: 0 ! important;
    background:#004756 ! important;
}

.ui-page{
    height: 100%;
    width: 100%;
}
.odk-label {
	color: #ffffff;
    font-size: large;
}

.odk-hint {
	color: #ffffff;
	font-size: 95%;
    font-style: italic;
}

.ui-btn-text {
	color:  #000000;
    font-size: 1em;
}

.ui-btn-up-d a.ui-link-inherit{
	color: #ffffff;
}

.ui-btn-hover-d a.ui-link-inherit{
	color: #F6E3CE;
}

.ui-btn-up-a {
	background: #ffffff;
}

.ui-btn-hover-a {
	background: #FBF2EF;
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner, .ui-mini .ui-btn-inner {
	color:  #000000;
    font-size: 1em;
}
.ui-controlgroup .ui-checkbox label, .ui-controlgroup .ui-radio label {
    font-size: 1em;
}

.instanceFormDivider {
	background: #ffffff;
}
