<div data-role="popup" id="confirmationPopup" data-overlay-theme="a" data-theme="b" data-dismissible="false">
    <h3>{{{localize message}}}</h3>
    <fieldset class="ui-grid-a">
	    <div class="ui-block-a"><button data-theme="b" id="yes-btn" data-inline="true">YES</button></div>
	    <div class="ui-block-b"><button data-theme="b" id="no-btn" data-inline="true">NO</button></div>	   
    </fieldset>
</div>
