<div data-role="popup" data-theme="a" id="confirmationPopup">
    <h3>{{{localize message}}}</h3>
    <fieldset class="ui-grid-a">
	    <div class="ui-block-a"><button data-theme="a" id="yes-btn" data-inline="true">YES</button></div>
	    <div class="ui-block-b"><button data-theme="a" id="no-btn" data-inline="true">NO</button></div>	   
    </fieldset>
</div>
