<div>
    <center>
        <img src="{{ headerImg }}" class="odk-formlogo" />
        <p>You are at the end of:</p>
        <p>"{{localize form_title}}"</p>
        {{#if display_field}}<p>Instance Name: {{display_field}}</p>{{/if}}
        <button class="finalize">Finalize</button>
        <button class="incomplete">Save as Incomplete</button>
    </center>
</div>
