<div>
    <div>
        <center><img src="{{ headerImg }}" class="odk-formlogo" /></center>
        <hr class="logoDivider">
    </div>

    <table class="instanceForm">
        <tr>
            <td class="instanceFormHeading">
                <p>ODK Survey</p>
                <p>Form</p>
            </td>
            <td class="instanceFormDivider"><BR></td>
            <td class="instanceFormData">
                <p>{{localize form_title}}</p>
                <p>{{#if form_version}}{{form_version}}{{/if}}</p>
            </td>
        </tr>
    </table>

    <div class="instanceClearDiv"></div>
        <center>
            <hr>
            <p>You are at the end of instance: 
            <p>"{{display_field}}"</p>
            <hr>
            <fieldset class="finalizeButtons ui-grid-a">
                <div class="ui-block-a">
                    <button class="finalize">Finalize</button>
                </div>
                <div class="finalizeButtons ui-block-b">
                    <button class="incomplete">Save as Incomplete</button>              
                </div>
            </fieldset>
        </center>
    </div>
</div>
