body {
    font-family: Droid Sans, Helvetica, Arial, sans-serif;
    font-size: 14pt;
    margin:0;
    /* bottom margin keeps the screen from going under the nav bar */
    margin-bottom: 2em;
}
.odk-hidden {
    display: none;
}
.odk-nav {
    position:fixed;
    width: 100%;
    margin:0;
    background-color: #FEFEFE;
    bottom:0;
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
}
.odk-next-btn {
    font-size: 1.5em;
    float:right;
    margin-right: 1em;
}
.odk-prev-btn {
    font-size: 1.5em;
    float:left;
    margin-left: 1em;
}
.odk-big-btn {
    height: 4em;
    padding-left: 2em; padding-right: 2em;
    margin: 4px;
}
ul.odk {
    list-style: none;
    padding-left: 0;
}
ul.odk > li {
    padding-top: 2px; padding-bottom: 2px;
    clear: both;
}
ul.odk-prompts > li {
    border-bottom: 1px solid lightgray;
}
ul.odk > li.separated {
    border-bottom: 1px solid lightgray;
}
ul.odk > li.inline > * {
    float:left;
}
ul.odk > li.inline:after {
    content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.odk-scroll {
    margin-left: 4px; margin-right: 4px;
}
label.odk {
    font-size: 16pt;
    font-weight: bold;
}
.odk-hint {
    font-size: 13pt;
    font-style:italic
}
input.odk {
    width: 99%;
    padding-top: 2px; padding-bottom: 2px;
}