/* JQM header/footer positioning hacks */
body {
    height: 100%;
    /* This is to disable accidental of highlighting survey text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.odk-nav {
    position: relative;
    bottom: 59px;
}
/* The long selector is to make sure we clobber the jqm padding styles */
.ui-page-header-fullscreen .ui-content, .ui-page-footer-fullscreen .ui-content, .odk-container {
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
}
.headerNavBtns {
    float: right;
    margin-right: 1em;
}
.headerNavBtns > a {
    margin-top:0;
}
/*
Orangy glow.
Eventually we should make a jqm theme for this.
*/
.ui-input-text.ui-focus, .ui-input-search.ui-focus {
    -moz-box-shadow: 0px 0px 12px 			rgb(255, 194, 0);
	-webkit-box-shadow: 0px 0px 12px 		rgb(255, 194, 0);
	box-shadow: 0px 0px 12px 				rgb(255, 194, 0);
}
#screenPopup > .message {
    font-weight: bold;
}
.strikethrough {
    text-decoration: line-through;
}