.footer {
	font-style: oblique;
	font-size: small;
	opacity: 0.5;
	vertical-align: bottom;
	text-align: right;
	padding-right: 10em;
}
#jqt .noflow {
	float: none;
}
#jqt .flowing {
	float: right;
}
#jqt .tableGrid {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 30px;
}
#jqt .tableGrid  > th {
	text-align: center;
	font-weight: bold;
}
#jqt .tableEven {
	width: 100%;
}
#jqt .tableEven td{
	width: 33%;
}
#jqt .hvmiddle {
	float: none;
	display: table;
	height: 100%;
}
#jqt .hvcenter {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
input[disabled="true"] {
    background: pink;
}