<div>{{> labelHint}}</div>
<style>
.axis path,
.axis line {
  fill: blue;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}
</style>
<div id="plot"></div>
<p>
    The blue line is an aproximation of the median female body weight.
</p>
<script type="text/javascript">
require(['database', "{{formDirectory}}d3.v2.js"], function(database){
//Defering in hopes that the template fully loads before the script runs.
_.defer(function() {
        
    var age = database.getDataValue('age');
    var weight = database.getDataValue('weight');
    
    if(!age || ! weight) {
        document.getElementById('plot').innerHTML = "Missing age or weight.";
        return;
    }
    
    var margin = {top: 20, right: 20, bottom: 30, left: 50},
        width = document.getElementById('plot').clientWidth - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;
    
    var x = d3.scale.linear()
        .range([0, width]);
    
    var y = d3.scale.linear()
        .range([height, 0]);
    
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");
    
    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");
    
    var line = d3.svg.line()
        .interpolate("basis")
        .x(function(d) { return x(d[0]); })
        .y(function(d) { return y(d[1]); });
    
    var svg = d3.select("#plot").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    x.domain([0, 20]);
    y.domain([0, 180]);
    
    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .append("text")
      .attr("x", width)
      .attr("y", -6)
      .style("text-anchor", "end")
      .attr("dx", ".71em")
      .text("age");
    
    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("weight");
    
    svg.append("path")
      .datum([[2,27],[10,70],[15,115],[20,130]])
      .attr("class", "line")
      .attr("d", line);
      
    svg.append("circle")
          .attr("class", "dot")
          .attr("r", 8)
          .attr("cx", function(d) { return x(age); })
          .attr("cy", function(d) { return y(weight); });
          
});
});
</script>
