<div>
    {{> labelHint}}
    <input type="text" name="{{name}}" value="{{value}}"
        class="ui-disabled"
    />
    <button class="launch">{{buttonLabel}}</button>
    <div class="mediaContainer">
        {{#if uriValue}}
            <audio src="{{uriValue}}"></audio>
        {{/if}}
    </div>
<div>