<table>
	<tr>
		<td align="center" colspan="2">
            <img src="{{ headerImg }}"
                onerror='this.onerror = null; this.src="{{ headerImg }}"'
                width="344px"/>
		</td>
	</tr>
	<tr>
		<td align="center" colspan="2">
			<span>You have completed "{{formName}}".</span>
		</td>
	</tr>
	<tr>
		<td align="left"><button class="whiteButton save-btn">Save as Incomplete</button></td>
		<td align="right"><button class="whiteButton final-btn">Finalize</button></td>
	</tr>
</table>
