<div>
	<center>
        <img src="{{ headerImg }}"
            width="50%"/>
		<p>You are at the end of:</p>
        <p>"{{formName}}"</p>
        <div>
            <label for="instanceName">Name this form:</label>
            <input class="odk" name="instanceName" value="{{instanceName}}"></input>
        </div>
		<button class="odk-big-btn" style="width: 80%">Save as Incomplete</button>
		<button class="odk-big-btn" style="width: 80%">Finalize</button>
	</center>
</div>
