<div>
    {{> labelHint}}
    <button class="captureAction">Capture Geopoint</button>
    <div class="mediaContainer">
        {{#if value}}
            <pre>{{value}}</pre>
        {{/if}}
    </div>
<div>