<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}}
    <button class="captureAction">Capture Geopoint</button>
    <p class="status"></p>
    <p>Latitude: {{value.coords.latitude}}</p>
    <p>Longitude: {{value.coords.longitude}}</p>
</div>