<ul class="odk">
    {{> labelHint}}
    <li>
        <input class="odk" type="text" name="{{name}}" value="{{mediaPath}}" disabled="true" />
    </li>
    <li><button class="whiteButton">Take Picture</button></li>
    <li><div class="mediaContainer">
        {{#if uriValue}}
            <img width="200" src="{{uriValue}}"></img>
        {{/if}}
    </div></li>
</ul>