<div class="{{#if hide}}odk-hidden{{/if}}">
    {{> labelHint}}
    <input
        class="odk"
        type="text" 
        name="{{name}}"
        value="{{value}}"
        {{#if disabled}}
            style="background-color:lightgray;"
            disabled="true"
        {{/if}}
        />
        {{#if invalid}}
            <p>invalid</p>
        {{/if}}
</div>