<div class="odk-screen {{#if enableNavigation}}
        {{#if enableForwardNavigation}}swipeForwardEnabled{{/if}}
        {{#if enableBackNavigation}}swipeBackEnabled{{/if}}
    {{/if}}">
    {{#if showHeader}}
    {{! I'm having a terrible time getting the header to display like a float (i.e. take up no space in the layout)}}
    {{! data-fullscreen="true" is a hack for this.}}
    {{! Also, putting data-fullscreen on the footer and not the header seems to cause a bug.}}
        <div class="odk-header" data-role="header" data-theme="e" data-position="fixed" data-fullscreen="true">
            <a href="#heirarchy" data-icon="arrow-u">hierarchy</a>
        	<h1>prev_prompt | current_prompt</h1>
        </div>
    {{/if}}
    <div data-role="content" class="odk-scroll odk-container">
    {{#if loading}}
        <div>Please wait...</div>
    {{/if}}
    </div>
    {{#if showFooter}}
    <div class="odk-nav">
        <div data-role="footer" data-theme="d">
            {{#if enableNavigation}}
                <div data-role="navbar" class="ui-state-persist">
                    <ul>
                    {{#if enableBackNavigation}}
                        <li><a class="odk-prev-btn" data-icon="arrow-l" data-iconpos="left">back</a></li>
                    {{/if}}
                    {{#if enableForwardNavigation}}
                        <li><a class="odk-next-btn" data-icon="arrow-r" data-iconpos="right">next</a></li>
                    {{/if}}
                    </ul>
                </div>
            {{/if}}
        </div>
    </div>
    {{/if}}
    <div data-role="popup" data-theme="a" data-overlay-theme="a" id="screenPopup">
        <p class="message"></p>
    </div>
</div>
