<div class="odk-screen">
    {{#if showHeader}}
        <div class="odk-header" data-role="header" data-theme="c" data-position="fixed">
            <div class="odk-options-btn"><a data-role="button" data-inline="true">Collect</a></div>
            <div class="headerNavBtns">
                <a class="odk-prev-btn" data-role="button" data-icon="arrow-l" data-iconpos="left" data-inline="true">back</a>
                <a class="odk-next-btn" data-role="button" data-icon="arrow-r" data-iconpos="right" data-inline="true">next</a>
           </div>
           <h1 style="margin-top:14px;">{{localize formTitle}}{{#if instanceName}} - {{localize instanceName}}{{/if}}</h1>
        </div>
    {{/if}}
    <div data-role="content" class="odk-scroll odk-container">
    {{#if loading}}
        <div>Please wait...</div>
    {{/if}}
    </div>
    {{#if showFooter}}
    <div class="odk-nav">
        <div data-role="footer" data-theme="d">
            {{#if enableNavigation}}
                <div data-role="navbar" class="ui-state-persist">
                    <ul>
                    {{#if enableBackNavigation}}
                        <li><a class="odk-prev-btn" data-icon="arrow-l" data-iconpos="left">back</a></li>
                    {{/if}}
                    {{#if enableForwardNavigation}}
                        <li><a class="odk-next-btn" data-icon="arrow-r" data-iconpos="right">next</a></li>
                    {{/if}}
                    </ul>
                </div>
            {{/if}}
        </div>
    </div>
    {{/if}}
    <div data-role="popup" data-theme="a" data-overlay-theme="a" id="screenPopup">
        <p class="message"></p>
    </div>
    <div data-role="popup" data-theme="d" data-overlay-theme="d" id="optionsPopup">
        <ul data-role="listview" data-inset="true" data-theme="d">
			<li><a data-rel="popup">Language</a></li>
			<li><a href="{{promptLink "_hierarchy"}}" data-rel="popup">Hierarchy</a></li>
			<li><a data-rel="popup">Save + Exit</a></li>
		</ul>
    </div>
</div>
