<div class="current" data-role="page">
    {{#if showHeader}}
        <div class="toolbar">{{name}}</div>
    {{/if}}
    <div class="scroll"></div>
    {{#if showFooter}}
        <div class="info">
            <button class="whiteButton prev-btn">backward</button>
            <span>Powered by OpenDataKit</span>
            <button class="whiteButton next-btn">forward</button>
        </div>
    {{/if}}
</div>