<div class="odk current {{#if enableForwardNavigation}}swipeForwardEnabled{{/if}} {{#if enableBackNavigation}}swipeBackEnabled{{/if}}">
    {{#if showHeader}}
    <div class="odk-toolbar">{{name}}</div>
    {{/if}}
    <div class="odk-scroll"></div>
    {{#if showFooter}}
    <div class="odk-nav">
        {{#if enableBackNavigation}}
            <a class="odk-prev-btn">◄ back</a>
        {{/if}}
        {{#if enableForwardNavigation}}
            <a class="odk-next-btn">next ►</a>
        {{/if}}
    </div>
    {{/if}}
</div>
