<div>
    {{> labelHint}}
    <input type="text" name="{{name}}" value="{{mediaPath}}"
        {{#if disabled}}
            disabled="true"
        {{/if}}
        />
    {{#if invalid}}
        <p>invalid</p>
    {{/if}}
    <button>Take Video</button>
    <div class="mediaContainer">
        {{#if uriValue}}
            <video src="{{uriValue}}" controls="controls">
            </video>
        {{/if}}
    </div>
<div>