<form>
    <label>{{localize label}}</label>
    <select name="{{name}}">        
        {{#each choices}}
            <option 
                {{#if selected}}
                    selected
                {{/if}}
                value="{{value}}">
                {{localize label}}
            </option>
        {{/each}}
    </select>
</form>