<div data-role="popup" data-theme="a" data-overlay-theme="a" id="screenPopup">
	<p class="message"></p>
	<button data-theme="a" id="ok-btn">OK</button>
</div>
{{! I have some concerns over inefficiency from including all the popup html in this template since it gets rerendered on every page change.}}
{{! If it turns out to be a problem we can dynamically construct the popups when they are opened.}}
<div data-role="popup" data-theme="d" data-overlay-theme="d" id="optionsPopup">
	<ul data-role="listview" data-inset="true" data-theme="d">
		<li><a data-rel="popup"
			class="languageMenu
			{{#unless hasTranslations}}ui-disabled{{/unless}}">
			Language
			</a></li>
		{{#if showHierarchy}}
		<li><a href="{{promptLink "hierarchy"}}" data-rel="popup">Hierarchy</a></li>
		{{/if}}
		<li><a data-rel="popup" class="ignore-changes-and-exit">Ignore Changes + Exit</a></li>
		<li><a data-rel="popup" class="save-incomplete-and-exit">Save Changes + Exit</a></li>
	</ul>
</div>
<div data-role="popup" data-theme="d" data-overlay-theme="d" id="languagePopup">
	<ul data-role="listview" data-inset="true" data-theme="d">
		{{#each locales}}
			<li><a id="{{name}}" class="language" data-rel="popup">{{localize display.text}}</a></li>
		{{/each}}
	</ul>
</div>
<div id="block-ui"></div>
<div id="waiting-screen" data-role="page" data-theme="d" data-content-theme="d">
	<div data-role="header" class="odk-toolbar"></div>
	<div data-role="content" class="odk-scroll">
		<span>Please wait...</span>
	</div>
	<div data-role="footer" class="odk-nav"></div>
</div>
