<div>
    {{> labelHint}}
    <input type="text" name="{{name}}" value="{{mediaPath}}"
        style="background-color:lightgray;"
        disabled="true"
        />
    {{#if invalid}}
        <p>invalid</p>
    {{/if}}
    <button class="captureAction">Take Video</button>
    <button class="chooseAction">Choose Video</button>
    <div class="mediaContainer">
        {{#if uriValue}}
            <video src="{{uriValue}}" controls="controls">video control not supported</video>
        {{/if}}
    </div>
<div>