<div data-role="popup" data-theme="a" data-overlay-theme="a" id="deletePopup">
	<h3>{{#substitute}}{{localize message}}{{/substitute}}</h3>
	<button data-theme="a" id="yes-btn">YES</button>
    <button data-theme="a" id="no-btn">NO</button>
</div>
