<div>
	<center>
        <img src="{{ headerImg }}" class="odk-formlogo" />
		<p>You are at the end of:</p>
        <p>"{{localize form_title}}"</p>
        <div>
            <label for="instanceName">Name this instance:</label>
            <input class="odk" name="instanceName" value="{{instanceName}}"></input>
        </div>
		<button class="incomplete">Save as Incomplete</button>
		<button class="finalize">Finalize</button>
	</center>
</div>
