<div data-role="popup" data-theme="d" data-overlay-theme="d" id="optionsPopup">
	<ul data-role="listview" data-inset="true" data-theme="d">
		<li><a data-rel="popup"
			class="languageMenu
			{{#unless hasTranslations}}ui-disabled{{/unless}}">
			Language
			</a></li>
		{{#if showHierarchy}}
		<li><a data-rel="popup" class="show-hierarchy">Hierarchy</a></li>
		{{/if}}
		<li><a data-rel="popup" class="ignore-changes-and-exit">Ignore Changes + Exit</a></li>
		<li><a data-rel="popup" class="save-incomplete-and-exit">Save Changes + Exit</a></li>
	</ul>
</div>
