<div class="modal" id="confirmationPopup" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="margin:0">{{{localizeText message}}}</h3>
                <div class="btn-group-vertical" style="width:100%">
                    <button type="button" class="btn btn-default" id="yes-btn"
                        data-dismiss="modal">{{localizeText 'confirm_action_yes_label'}}</button>
                    <button type="button" class="btn btn-default" id="no-btn"
                        data-dismiss="modal">{{localizeText 'confirm_action_no_label'}}</button>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  