
<div class="modal" id="screenPopup" tabindex="-1" aria-labelledby="screenPopupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="margin:0">{{{localizeText message}}}</h3>
                <div class="btn-group-vertical" style="width:100%">
                    <button type="button" class="btn btn-default close"
                        data-dismiss="modal">{{localizeText 'screen_popup_ok_button_label'}}
                    </button>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  