<div class="odk-screen">
    <div class="odk-toolbar"></div>
    <div data-role="content" class="odk-scroll">
        <div class="odk-container">{{localizeText 'waiting_text'}}</div>
    </div>
    <div data-role="footer" class="odk-footer"></div>
</div>
