
.regrigerator-container h3 {
    margin-top: 10px;
    font-weight: normal
}
    
.pull-right {
    float: right;
}
    
.regrigerator-container h3 input {
    margin-top: 10px;
    font-weight: normal;
}

h3 {
    font-size: 1.3em;
    line-height: 40px;
    font-weight: bold;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-spacing:0;
    border-color: rgb(131,131,131);
    border-spacing: 2px;
}
    
.table {
    width: 100%;
    margin-bottom: 20px;
}

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -mox-border-radius: 4px;
    border-radius: 4px;
}
    
thead {
    display: table-header-group;
    vertical-align: middle:
}
    
tr {
    display: table-row;
}
    
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first_child {
    border-top-left-radius: 4px;
}
    
.table-bordered caption+thead tr:first-child th,.table-bordered caption+tbody tr:first-child th, .table-bordered caption+tbody tr:first-child td, 
.table-bordered colgroup+thead tr:first-child th, .table-bordered colgroup+tbody tr:first-child th,.table-bordered colgroup+tbody tr:first-child td, 
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
     border-top: 0;
}
    
.table-bordered th, .table-bordered td {
    border-left: 1px solid #ddd;
}
    
.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
    
.table thead th {
    vertical-align: bottom;
}
    
.coverage-table td:first-child, #communityCell {
    font-size: 0.9em;
    font-weight: bold;
    background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%) !important;
    text-shadow: 0 1px 0 #FFF;
}
    
.coverage-table .opened-vials {
    font-weight: bold;
}
    
.coverage-table .opened-vials #Penta1Container {
    padding: 45px 0 6px;
}
    
.coverage-table .opened-vials #Penta10Container {
    padding: 35px 0 10px;
}
    
.coverage-table .opened-vials #Polio10Container {
    padding: 85px 0 11px;
}
    
.coverage-table .opened-vials #Polio20Container {
    padding: 60px 0 10px;
}
    
.coverage-table .opened-vials #PCVContainer {
    padding: 110px 0 10px;
}
    
td, th {
    display: table-cell;
}
    
.facility-distribution-form-table th {
    text-align: left;
    min-height: 62px;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: 0 1px 1 #fff;
    padding: 10px;
    background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
}
    
.facility-distribution-form-table td {
    min-height: 71px;
    padding: 10px 10px 6px;
}
    
.facility-distribution-form-table td .input-error-parent-cell{
    position: relative;
}
    
.facility-distribution-form-table td label {
    margin-right: 15px;
    font-size: 0.9em;
}
    
.facility-distribution-form-table table tr:nth-child(even) td {
    background: #f9f9f9;
}
    
.facility-distribution-form-table .col-complete-vaccinated {
    max-width: 100px;
    min-width:70px;
}
    
.facility-distribution-form-table .col-complete-vaccinated input[type="text"] {
    text-aslign: right;
    width: 80px;
}
    
.facility-distribution-form-table input[type="text"]  {
    margin-bottom: 3px;
}

#adultCoverageTable tr:last-child td:first-child {
    height: 50px;
}

.vertical-middle-aligned {
    vertical-align: middle !important;
}

.refrigerator-container {
    width: 75%;
    margin:0 auto 0 auto;
}

.ui-checkbox .ui-btn-inner {
    border: none;
}
    
.ui-checkbox {
    border: none;
    text-shadow: none;
    margin: 0;
}
    
.ui-btn-inner {
    border:0;
}

.ui-btn-text {
    padding: 0;
}

.screen-overflow {
    clear: both;
    overflow-x: scroll;
}
 