<div class="modal" id="confirmExitPopup" tabindex="-1" aria-labelledby="languageModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 style="margin-top:0px">{{localizeText 'confirm_message'}}</h3>
                <div class="btn-group-vertical" style="display:block;">
                    <button type="button" class="btn btn-default" id="exit"
                        data-dismiss="modal">{{localizeText 'confirm_exit_label'}}</button>
                    <button type="button" class="btn btn-default" id="cancel"
                        data-dismiss="modal">{{localizeText 'confirm_cancel_label'}}</button>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
