<p>{{localize display.text}}</p>
<select class="form-control"  tabindex="0" >
    {{#each choices}}
        <option 
            value="{{value}}">
            {{localize display.text}}
        </option>
    {{/each}}
</select>