<div>
{{> labelHint}}
<select class="form-control"  tabindex="0" >
    {{#each choices}}
        <option 
            value="{{value}}">
            {{localizeText display}}
        </option>
    {{/each}}
</select>
</div>