<div>
    <div>
        <center><img src="{{ headerImg }}" class="odk-formlogo" /></center>
        <hr>
    </div>
	{{{localizeText display.opening_survey_form_identification}}}
    <div class="instanceClearDiv"></div>
    <div>
		{{{localizeText display.opening_survey_instance_detail}}}
        <fieldset class="openingNew">
            <div class="row">
                <div>
                    <button class="odk-next-btn btn btn-default" type="button" tabindex="0">
					{{localizeText display.opening_survey_next_button_label}} <span class="glyphicon glyphicon-chevron-right" style="font-size:20px;"></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>