<div>
    {{> labelHint}}
    <input type="text" name="{{name}}" value="{{mediaPath}}"
            style="background-color:lightgray;"
            disabled="true"
        />
    {{#if invalid}}
        <p>invalid</p>
    {{/if}}
    <div class="mediaContainer">
        {{#if uriFragmentValue}}
            <img id="{{name}}" src="{{mediaPath}}"/>
        {{/if}}
    </div>
<div>