{{#if passiveError}}
    <div>
        {{passiveError}}
    </div>
{{/if}}
<form>
    {{> labelHint}}
    <select class="form-control" name="{{name}}">        
        {{#each choices}}
            <option 
                {{#if checked}}
                    selected="selected"
                {{/if}}
                value="{{data_value}}">
                {{#if display.text}}
                    {{{localize display.text}}}
                {{/if}}
            </option>
        {{/each}}
    </select>
</form>