<div>
{{#if passiveError}}
    <div>
        {{passiveError}}
    </div>
{{/if}}

{{> labelHint}}
<div class="btn-group-vertical" style="display:block; padding:5px">
    {{#each choices}}
            <a href="#" class="branch-select-item launch btn btn-default" tabindex="0" label="{{data_value}}" style="padding:10px">
            {{#ifHasImageLocalization display}}
                <center>
                    <img style="max-width: 100%;max-height: 100%;" src="{{localizeImage display}}"></img>
                </center>
            {{/ifHasImageLocalization}}
            {{#ifHasTextLocalization display}}
                <h4 style="font-weight:bold;text-align:left">{{{localizeText display}}} <span class="glyphicon glyphicon-chevron-right" style="float:right"></span></h4>
            {{/ifHasTextLocalization}}
            </a>
    {{/each}}
</div>
</div>
