
html, body {
    height: 100%;
}

body {
	width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: large;
	color: white;
	background-color: black;
}

.fullwidth {
	width: 100%;
}

select {
	font-size: large;
}

.vertscroller {
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.scroller {
	width: 100%;
	height: 20em;
	overflow: scroll;
	overflow-x: scroll;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.3);
}

.scroller table {
	table-layout: auto;
	border-collapse: collapse;
}

.scroller th {
	padding-left: .4em;
	padding-right: .4em;
	white-space: nowrap;
	border: 1px solid white;
}

.scroller tr {
	border: 1px solid white;
}

.scroller td {
	padding-left: .4em;
	padding-right: .4em;
	white-space: nowrap;
	border: 1px solid white;
}

.nbs {
	height: 3em;
}

.sel-class optgroup {
	font-style: oblique;
	background-color: grey;
}

.description-text {
    font-size: large;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
}

.btn-launch {
   margin-left: 5em;
   margin-right: 5em;
   font-size: large;
   color: #000;
   text-align: center;
   background-color: grey;
}
