/* CSS Stylesheet - TBL_FACILITIES Detail View*/

html, body {
  max-height: 100%;
  max-width: 100%;
}

body {
  font-family: arial;
}

fieldset {
  border: 1px solid black;
  margin:  6px;
  padding: 4px;
  width: 80%;
}

fieldset > p {
  padding: 2px;
  margin: 2px;
}

div {
  margin-bottom: 10px;
}

button {
    width: 80vw;
    float: none;
    margin: auto;
    border-left: 15px solid;
    border-top: none;
    border-right: none;
    border-bottom: 1.5px solid;
    background-color: #F1F1F1;
    display: block;
    color: #5C5C5C;
    border-color: #EE3224;
    height: 60px;
    font-size: 21px;
    margin-bottom: 10px;
    margin-top: 10px;
}

button:active {
    background-color: #FFC9C9;
}

p {
  padding: 0px;
  margin: 0px;
  color: #5C5C5C;
  font-size: 16px;
  font-weight: bold;

}

.main-text {
  color: black;
}

span {
  color: black;
  font-weight: normal;
}

h3 {
  font-size: 15pt;
  margin: 2px;
  margin-bottom: 10px;
}

#picture {
  text-align: center;
}

input {
    display: block;
    padding: 5px;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 18px;
    text-align: center;
}
