/* CSS Stylesheet - TBL_FACILITIES Detail View*/
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 8px;
}

/*columns fit to 96% of the screen to look good with scroll bar*/
.col-1 {width: 8%;}
.col-2 {width: 16%;}
.col-3 {width: 24%;}
.col-4 {width: 32%;}
.col-5 {width: 40%;}
.col-6 {width: 48%;}
.col-7 {width: 56%;}
.col-8 {width: 64%;}
.col-9 {width: 72%;}
.col-10 {width: 80%;}
.col-11 {width: 88%;}
.col-12 {width: 96%;}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
  background: repeating-radial-gradient(mediumaquamarine, lightseagreen, teal);
/*  background-color: darkslategray;*/
  margin-right: 20px;
  color: #ffffff;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.detail {
  padding: 8px;
  margin-right: 20px;
  background: linear-gradient(indianred, lightcoral);
  text-align: center;
  color: black;
  box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button {
  padding: 12px;
  width: 60%;
  margin-right: 20px;
  margin: auto;
  margin-bottom: 50px;
  background-color: yellowgreen;
  text-align: center;
  color: white;
  box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.buttonDelete {
  background-color: red;
}

html, body {
  height: 100%;
  width: 100%;
  text-align: left;
}

body {
  font-family: arial;
}

div {
  margin-bottom: 10px;
}

p {
  padding: 5px;
  color: black;
  font-weight: bold;
  border-bottom: 2px solid teal;
/*  border-style: ridge;
  border-width: 1px;
  border-color: teal;*/
}

.detailHdr {
  color: black;
  font-weight: bold;
}

.main-text {
  color: white;
  text-align: center;
  padding: 10px;
}

span {
  font-weight: normal;
}

h1 {
  text-align: center;
  font-weight: normal;
  color: white;
}

h3 { 
  font-size: 15pt; 
  margin: 2px;
  text-align: center;
  font-weight: normal;
  color: white;
}

#picture {
  text-align: center;
}

a {
  color: white;
  padding: 10px;
}

sup {
  font-weight: normal;
}

.img {
  width: 60%;
  display: block;
  margin: auto;
}

.hideButton {
    display: none;
}