/* CSS Stylesheet - Homescreen*/
body {
    position: relative;
    background-color: cadetblue;
    font-family: arial;
    margin: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
