/* CSS Stylesheet - Standard User Homescreen*/

#wrapper { 
    overflow: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    /*width: 500px;*/
}

body {
    font-family: helvetica;
    margin: 0;
}


button {
    width: 90vw;
    float: none;
    height: 15vh;
    margin: auto;
    border-left: 15px solid;
    border-top: none;
    border-right: none;
    border-bottom: 1.5px solid;
    background-color: #F1F1F1;
    font-size: 7vmin;
    display: block;
    color: #5C5C5C;
}

button:active {
    background-color: #FFC9C9;
}

#button1 {
    border-color: #EE3224;
    margin-bottom: 6vh;
}

#button2 {
    border-color: #EE3224;
    margin-bottom: 6vh;
}

#button3 {
    border-color: #EE3224;
}

h1 {
    font-size: 8.5vh;
    height: 10vh;
    margin-top: 4vh;
    margin-bottom: 6vh;
    text-align: center;
    color: #5C5C5C;
}

p {
    display: inline-block;
    position: relative;
    margin: 0;
    height: 23vh;
    width: 100vw;
    text-align: center;
}

img {
    max-height: 90%;
    max-width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
}