body {
	background-size: cover;
	background: linear-gradient(lightcyan, white) no-repeat;
	text-align: center;
}

.highlightedPlot {
	background-color: gold;
}

.note {
	color: red;
	font-style: italic;
}
