/* modified list css*/

html {
  height: 100%;
  width: 100%;
  background-color: #004756;
}

body {
  font-family: arial;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 { 
  margin: 0; 
} 

#wrapper { 
  background: #004756;
  overflow: auto;
}

li {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

ul {
  padding: 0;
}

.item_space {
  margin: 10px 10px 10px 10px;
  font-size: 20pt;
  padding: 5px;
  width: 95%;
  /*padding: 20px; */
  padding-top: 8px;
  padding-bottom: 12px;
}

.item_space:active {
  background-color: lightsteelblue;
}

.detail {
  font-size: 16pt;
  color: #FFFFFF;
  font-weight: normal;
}
 
.chevron {
  float: right;
  padding-right: 15px;
  padding-top: 15px;
  margin: 0;  
  height: 40px;
}

.divider {
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue; 
  width: 95%;
  height: 10px;
}
