#nextvaccination_image_0{
    max-width:100%;
}

#opv0_image_0{
    max-width:100%;
}

#opv_initials_image_0{
    max-width:100%;
}

#opv_notes_image_0{
    max-width:100%;
}

#hepb0_image_0{
    max-width:100%;
}

#hepb_initials_image_0{
    max-width:100%;
}

#hepb_notes_image_0{
    max-width:100%;
}

#vaccine1_image_0{
    max-width:100%;
}

#vaccine1date_image_0{
    max-width:100%;
}

#vaccination1_initials_image_0{
    max-width:100%;
}

#vaccination1_notes_image_0{
    max-width:100%;
}

#vaccine2_image_0{
    max-width:100%;
}

#vaccine2date_image_0{
    max-width:100%;
}

#vaccination2_initials_image_0{
    max-width:100%;
}

#vaccination2_notes_image_0{
    max-width:100%;
}

#qr_patientcode_image_0{
    max-width:100%;
}
