#cardnum_image_0{
    max-width:100%;
}

#emergency_image_0{
    max-width:100%;
}

#name_image_0{
    max-width:100%;
}

#childid_image_0{
	max-width:100%;
}

#birthdate_image_0{
	max-width:100%;
}

#weight_image_0{
	max-width:100%;
}

#sex_image_0{
	max-width:100%;
}

#housenum_image_0{
	max-width:100%;
}

#village_image_0{
	max-width:100%;
}

#city_image_0{
	max-width:100%;
}

#ward_image_0{
	max-width:100%;
}

#lga_image_0{
	max-width:100%;
}

#state_image_0{
	max-width:100%;
}

#mother_name_image_0{
	max-width:100%;
}

#mother_gsm_image_0{
	max-width:100%;
}

#father_name_image_0{
	max-width:100%;
}

#father_gsm_image_0{
	max-width:100%;
}

#clessthan2_5kg_image_0{
	max-width:100%;
}

#twin_image_0{
	max-width:100%;
}

#bottlefed_image_0{
	max-width:100%;
}

#familysupport_image_0{
	max-width:100%;
}

#sibblingunderweight_image_0{
	max-width:100%;
}

#otherreason_image_0{
	max-width:100%;
}

#patientcode_image_0{
	max-width:100%;
}