#wrapper {
  background: #004756;
  height: 100%;
}

.grid-item {
  background: beige;
}

.item_space {
  margin: auto;
  padding: 0;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

ul {
  text-align: center;
}

.content-holder {
  margin-top: 15px;
}
