body {
  background-color: lightcyan;
  background-image: linear-gradient(lightcyan, white) no-repeat;
  background: lightcyan no-repeat;
  background: linear-gradient(lightcyan, white) no-repeat;
}

h3 {
	margin-bottom: 3px;
}

.label {
	margin-top: 10px;
}

#observations {
	margin-left: 4px;
}