#Name_image0{
    width:210px;
    height:40px;
}

#Age_image0{
    width:50px;
    height:40px;
}

#sex_image0{
    width:70px;
    height:20px;
}

#albendazole_image0{
    width:20px;
    height:20px;
}

#septrin_tablets_image0{
    width:20px;
    height:20px;
}

#septrin_syrup_image0{
    width:30px;
    height:20px;
}

#benzyl_benzoate_image0{
    width:20px;
    height:20px;
}

#iron_folicacid_image0{
    width:20px;
    height:20px;
}

#multivitamin_image0{
    width:20px;
    height:20px;
}

#MMT_image0{
    width:40px;
    height:20px;
}

#ORS_image0{
    width:30px;
    height:20px;
}

#paracet_tablets_image0{
    width:30px;
    height:20px;
}

#paracet_syrup_image0{
    width:20px;
    height:20px;
}

#ACT_pack12_image0{
    width:30px;
    height:20px;
}

#ACT_pack6_image0{
    width:20px;
    height:20px;
}

#referral_symptoms_image0{
    width:120px;
    height:40px;
}