body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.max_line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

.min_line {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}