input {
	font-size: 16px;
}
body {
	margin: 0 0 0 0;
	font-family: Roboto;
	/*font-size: 120%;*/
}
#odk-toolbar {
	padding: 8px 8px 8px 8px;
	width: calc(100% - 16px);
	font-size: 150%;
	min-height: 40px;
}
#odk-container {
	padding: 8px 5% 100px 5%;
}
#back, #cancel {
	float: left;
}

#next, #finalize {
	float: right;
}
input[type="number"], input[type="text"] {
	/*border-radius: 3px; */
	/*border-type: inset;*/ /* ugly */
	/*display: block;*/
	/*height: 34px;*/
	padding: 6px 6px;
	color: #333;
	margin-left: 8px;
	line-height: 1.4;
	color: #555;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
}
button {
	border-color: #ccc;
	padding: 10px 16px;
	line-height: 1.333;
	border-radius: 6px;
	border-style: solid;
	background-color: #eee;
	border-width: 1px;
}
label, input[type="radio"] {
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
}
.select-one > div:not(:first-child), .select-multiple > div:not(:first-child), .select-one-with-other > div:not(:first-child) {
	border-top: 1px solid grey;
}
.grid > .option:first-child, .grid > .option:nth-child(2), .grid > .option:nth-child(3) {
	border-top: none;
}
.grid > .option:nth-child(3n), .grid > .option:nth-child(3n+2) {
	border-left: 1px solid grey;
}
.select-one, .select-multiple, .select-one-with-other {
	border: 1px solid grey;
	border-radius: 10px;
	min-width: 50%;
	background-color: lightgrey;
}
.grid {
	min-width: 100%;
}
@media screen and (max-width: 480px) {
	.select-one, .select-multiple, .select-one-with-other {
		min-width: 100%;
	}
}
input[type="checkbox"], input[type="radio"] {
	position: absolute;
	margin-top: 9px;
	text-align: center;
	display: block;
}
label {
	width: 85%;
	padding-left: 15%;
	overflow: hidden;
}
iframe {
	/* min-width: 60vw; */
	width: 100%;
	min-height: 120vw;
}
.option {
	width: 100%;
}
.grid > .option {
	display: inline-block;
	width: 33%;
}

