body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	font-size: 2em;
	color: #eee;
	min-height: 100vh;
}
.button {
	display: block;
	width: 80%;
	margin-left: 10%;
	border: none;
	color: white;
	background-color: #33b5e5;
	font-size: 21px;
	font-weight: 400;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 1px rgba(0, 0, 0, .25);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2), inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 1px rgba(0, 0, 0, .25);
	border-radius: 2px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 20px;
}
#title {
	display: block;
	font-family: serif;
	background-color: #aac;
	color: black;
}
