body {
	font-family: "Helvetica", sans-serif;
	min-height: 100vh;
}
/* test */
#bg {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0px;
	width: calc(100% - 16px);
	height: 100%;
	margin: 8px 8px 8px 8px;
	z-index: -10;
}
canvas {
	position: absolute;
	left: 0;
}
#key {
	text-align: left;
	/*
	background-color: rgba(0, 0, 0, 0.6);
	*/
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
@media screen and (max-height: 700px) {
	#key {
		font-size: 70%;
	}
}

