body {
	font-family: "Helvetica", sans-serif;
	min-height: 100vh;
}
canvas {
	position: absolute;
	left: 0;
}
#key {
	text-align: left;
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}