#tabs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	text-align: center;
	background-color: lightblue;
	padding-bottom: 3px;
}
#iframe {
	position: absolute;
	top: 70px;;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: calc(100%-70px);
	border: none;
}
.tab {
	min-width: 10%;
	height: 70px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 70px;
	font-size: 18px;
}
.tab-selected {
	border-bottom: 3px solid #3DBCFE;
}
body {
	min-height: 100vh;
	padding: 0px 0px 0px 0px;
}