body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

h1 { 
    margin: 0; 
} 

#wrapper { 
    overflow: auto;
    margin-top: 180px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item_space {
    font-size: 20pt;
    font-weight: bold;
    padding: 10px; 
    border-bottom: 1.5px solid #333333;
}

.item_space:active {
    background-color: lightskyblue;
}

.detail {
    font-size: 15pt;
    font-weight: normal;
}
 
.chevron {
    float: right;
    padding-right: 15px;
    padding-top: 15px;
    margin: 0;    
    height: 40px;
}

#searchBox {
    font-size: 15pt;
    text-align: center;
    display: block;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1.5px solid #333333;
}

#form {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#search {
    padding: 5px;
    height: 35px;
    border: 1px solid #808080;
    width: 190px;
    margin: auto;
}

#submit {
    padding: 5px;
    border: 1px solid #808080;
    width: 90px;
    height: 47px;
    background-color: #333333;
    color: white;
    margin: auto;
}

.launchForm {
    width: 90%;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    padding: 5px;
    background-color: #006699;
    color: #fff;
}
