
html, body {
    height: 100%;
}

body {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#all-screen {
    height: 100%;
    width: 100%:
}
