
html, body {
    height: 100%;
}

td {
    padding: 2px;/*before it was 2px*/
}

#time * {
  vertical-align: middle;
}

#loading {
    width: 100%;
    height: 100%;
    background-color: #333333;
    position: fixed;
    left: 0px;
    top: 0px;
    visibility: hidden;
    opacity: 0.75;
    filter: alpha(opacity=75);
    z-index: 998;
    text-align: center;    
}


input{/*[type='checkbox'] {*/
    width: 15px; /*it was 30*/
    height: 15px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

.male-female-divider {
  border-bottom: 1px solid #000;
}

#extras-container {
    position: absolute;
    width: 300px;
    left: 450px;
    padding-right: 10px;
}

#buttons{
  float: right;
}

#buttons button, #buttons select {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #428bca;
  color: #fff;
  border-color: #357ebd;
  margin-bottom: 15px;
  width: 100%;
  max-width: 156px; /* hard-coded for nexus 7 tablets */
}

#buttons button {
  margin-top: 30px;
}

#info_div{
    position: relative;
    width:570px;
    height:120px; /*For Eden's tablet it is 120px*/
    border:1px solid #000;
    padding-top: 7px;
    padding-right: 5px;
    padding-left: 5px;
    top: 699px; /*For Eden's tablet it is 510px*/
    text-align: center;
    position: fixed;
   
}
.chimp{
     width: 4em !important;
     height: 2em !important;  /*before it was 2em*/
     /*font-size: 5px !important;*/
     padding-bottom: 3px; 

}
#time, #certainty, #distance, #state, #close_focal{
    float: left;
    overflow: hidden;
}
.5-meter, .sexual_state, .closeness, .time_point, .certainity{
    width: 4em !important;
}
.save_bottom_div{
    clear: both;
    float: right;
    position: relative;
    top: -20px;
}

label {
    display: inline;
}

.user-list {
    padding-top: 20px;
}

#table-container {
    position: absolute;
    left: 40px;
}

.closest-chimp {
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-radius: 4px;
}

.focal-chimp {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.manual-entry {
  width: 35px;
  height: 35px;
}

.sexual-state {
    font-weight: bold;
    font-size:18px;
    color:#FF00FF;
}

.focal-label {
    background-color: #5bc0de;
    border-color: #5bc0de;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

input[type='checkbox']:checked {
    background: #abd;
}

input[type='text'] {
   width: 90%;
   max-width: 500px;
   margin: 0 auto 35px;
}

body {
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.novisibility {
  visibility: hidden;
}

.nodisplay {
  display: none;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}
.input_hidden {
    position: absolute;
    left: -9999px;
}

.selected {
    background-color: #ccc;
}


.selected-chimp {
  background-color: green;
}

#time label {
    display: inline-block;
    cursor: pointer;
}


#time label:hover {
    background-color: #efefef;
}

#time label img {
    padding: 3px;
    
}




#all-screen {
    height: 100%;
    width: 100%:
}

#content-container {
    margin-top: 150px;
}

#content-table {
    height:80%;
    width: 90%;
    max-width: 500px;
    margin: 80px auto 35px;
    border-collapse: collapse;
    top: 60px;
}

.description-text {
    font-size: 44px;
    width:100%;
    max-width: 500px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    color: black;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.btn-launch {
   width: 90%;
   max-width: 500px;
   margin: 0 auto 35px;
}
