/* CSS Stylesheet - Homescreen*/

#wrapper { 
    overflow: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    /*width: 500px;*/
}

body {
    font-family: arial;
    margin: 0;
}

div { 
    position: relative; 
}

button {
    width: 90%%;
    max-width: 500px;
    height: 100px;
    margin: 0 auto 35px;
    border-left: 15px solid;
    border-top: none;
    border-right: none;
    border-bottom: 1.5px solid;
    background-color: #F1F1F1;
    font-size: 18pt;
    display: block;
    text-align: left;
    padding: 15px;
    color: #5C5C5C;
}

button:active {
    background-color: lightskyblue;
}

#button1 {
    border-color: #003D5C;
}

#button2 {
    border-color: #006699;
}

#button3 {
    border-color: #66A3C2;
}

h1 {
    font-size: 40pt;
    margin: 50px 0;
    text-align: center;
    color: #5C5C5C;
}
