body {
	overflow: auto;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
    height: 100%;
    /* This is to disable accidental highlighting of survey text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media all and (max-width: 25em) {
    .my-breakpoint-no-nav-btn-text.ui-grid-b .ui-block-a { width: 54.95%; }
    .my-breakpoint-no-nav-btn-text.ui-grid-b .ui-block-b, 
    .my-breakpoint-no-nav-btn-text.ui-grid-b .ui-block-c { width: 22.425%; } 
}

@media all and (min-width: 26em) {
    .my-breakpoint.ui-grid-b .ui-block-a { width: 49.95%; }
    .my-breakpoint.ui-grid-b .ui-block-b, 
    .my-breakpoint.ui-grid-b .ui-block-c { width: 24.925%; } 
}

@media all and (min-width: 26em) {
    .odk-footer .my-breakpoint.ui-grid-b  .ui-block-a { width: 24.925%; } 
    .odk-footer .my-breakpoint.ui-grid-b  .ui-block-b { width: 49.95%; } 
    .odk-footer .my-breakpoint.ui-grid-b  .ui-block-c { width: 24.925%; } 
}


.odk-screen {
	min-height: inherit;
	min-width: inherit;
}
.odk-scroll {
	clear: both;
	width: inherit;
}
.odk-container {
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
}

/* navbars */
.odk-header {
    overflow: hidden;
    clear: both;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    background-color: #e9e9e9;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #eee;
    border-width: 1px 0;
    border-style: solid;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left:0;
    width: 100%;
    margin-left:0;
    margin-right:0;
}
.odk-footer {
    overflow: hidden;
    clear: both;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    background-color: #e9e9e9;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #eee;
    border-width: 1px 0;
    border-style: solid;
	position: fixed;
    bottom: 0%;
    width:100%;
    margin-left:0;
    margin-right:0;
    z-index: 10000;
}
.odk-options-btn {
    width:100%;
}
.odk-header-back-btn {
    padding-left: 0;
    padding-right: 7px;
}
.odk-next-btn {
    padding-left: 0;
    padding-right: 15px;
}
.odk-footer-back-btn {
    padding-left: 15px;
    padding-right: 0;
}
.navbar-btn {
    width:100%;
}

/* form list (user branch) */
.form-list {
    display: block; 
    padding:5px;
}
.form-list a {
    padding: 10px;
}
.form-list h4 {
    font-weight: bold;
    text-align: left;
}

/* selects */
.select-label {
    width: 100%;
    margin: 0;
    border-radius: 0; 
}
.select-input {
    transform: scale(2); 
    -webkit-transform: scale(1.5);
    width: auto;
    float: left;
}
.select-text {
    float: left;
    margin-left: 10px;
}
.input-other {
    height: 36px;
    position: initial;
}

/* select inline */
.inline-label-container {
    float:left;
    width:50%;
}
.inline-label-container > :first-child {
    margin-top: .5em;
}
.inline-fieldset {
    float:right;
    margin-left:1em;
    display:block;
}

/* Grid select styles: */
.grid-select-item input {
    display:none;
}
.grid-select-item img, .form-list img {
    max-width: 100%;
    max-height: 100%;
}
.grid-select-item {
    /*
    The height is a trade-off, we get a better looking regular grid with it set,
    but we loose the ability auto-fit arbitrary sized content.
    Maybe I could use a table to get the best of both worlds.
    */
    height: 120px;
    margin: 2px;
    padding: 3px;
}
.grid-select-item:active {
    border: 1px solid 		#aaa /*{d-bdown-border}*/;
	background: 			#eee /*{d-bdown-background-color}*/;
	font-weight: bold;
	color: 					#333 /*{d-bdown-color}*/;
	text-shadow: 0 /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 0 /*{d-bdown-shadow-radius}*/ 	#fff /*{d-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e5e5e5 /*{d-bdown-background-start}*/), to( #f2f2f2 /*{d-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/);
}

/* popups */
#screenPopup > .message {
    font-weight: bold;
}
#optionsPopup .btn-group-vertical {
    display: block;
}
#confirmationPopup .btn-group-vertical>.btn , #screenPopup .btn-group-vertical>.btn{
    background-color: #373737;
    color: white;
    border-color: #1f1f1f;
    font-size: 20px;
    padding: 15px;
    opacity:1;
}
#languagePopup .btn-group-vertical>.btn , #optionsPopup .btn-group-vertical>.btn{
    font-size: 20px;
    padding: 12px;
}
#confirmationPopup .modal-dialog, #screenPopup .modal-dialog,
#optionsPopup .modal-dialog, #languagePopup .modal-dialog {
    margin-top: 45px;
}
#confirmationPopup .modal-content, #screenPopup .modal-content {
    background-color: black;
    color: white;
}
/*
Orangy glow.
Eventually we should make a jqm theme for this.
*/
.ui-input-text.ui-focus, .ui-input-search.ui-focus {
    -moz-box-shadow: 1px 1px 12px 			rgb(255, 194, 0);
	-webkit-box-shadow: 1px 1px 12px 		rgb(255, 194, 0);
	box-shadow: 1px 1px 12px 				rgb(255, 194, 0);
}

#block-ui {
    display: none;
    cursor: wait;
    position: absolute;
    top: 0;
    left: 0;  
    width: 100%;
    height: 100%;
    z-index: 1000; 
    background-color: #fff;
    opacity: 0.5;
}

.odk-label {
    font-size: larger;
}
.odk-hint {
    font-style: italic;
}

/* Deselect button styles: */
.deselect {
    float: right;
}
.inline-deselect {
    /* Add media query for small screens? */
    margin-top: 0;
    float:left;
}

.odk-formlogo {
    width: 100%;
}
.odk-label-image {
    width: 100%;
}

.instanceRowControl{
  float: right;
}

.openingRowControl{
  float: right;
}

.instanceList.layout-zebra li:nth-child(even) {
  background: #f5f5f5;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
}

.instanceClearDiv {
  clear: both;
}
