
.refrigerator-container h3 {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold
}
    
.pull-right {
    float: right;
}
    
.refrigerator-container h3 input {
    margin-top: 10px;
    font-weight: normal;
}

h3 {
    font-size: 1.3em;
    line-height: 40px;
    padding-left: 3px;
}

.odk-container {
    margin-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
    padding: 0;
}

.table table {
    table-layout:fixed;
    background-color: transparent;
    border-spacing:0;
    border-color: rgb(131,131,131);
    margin-bottom:3px;
}
    

.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -mox-border-radius: 4px;
    border-radius: 4px;
}
    
.table thead {
    display: table-header-group;
    vertical-align: middle:
}
    
.table tr {
    display: table-row;
}
   
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first_child {
    border-top-left-radius: 4px;
}
    
.table-bordered caption+thead tr:first-child th,.table-bordered caption+tbody tr:first-child th, .table-bordered caption+tbody tr:first-child td, 
.table-bordered colgroup+thead tr:first-child th, .table-bordered colgroup+tbody tr:first-child th,.table-bordered colgroup+tbody tr:first-child td, 
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
     border-top: 0;
}
    
.table-bordered th, .table-bordered td {
    border-left: 1px solid #ddd;
}
    
.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
    
.table thead th {
    vertical-align: bottom;
}
    
.coverage-table td:first-child, #communityCell {
    font-size: 0.8em;
    font-weight: bold;
    background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%) !important;
    text-shadow: 0 1px 0 #FFF;
}
    
.coverage-table .opened-vials {
    font-weight: bold;
}
    
.coverage-table .opened-vials #Penta1Container {
    padding: 45px 0 6px;
}
    
.coverage-table .opened-vials #Penta10Container {
    padding: 35px 0 10px;
}
    
.coverage-table .opened-vials #Polio10Container {
    padding: 85px 0 11px;
}
    
.coverage-table .opened-vials #Polio20Container {
    padding: 60px 0 10px;
}
    
.coverage-table .opened-vials #PCVContainer {
    padding: 110px 0 10px;
}
    
td, th {
    display: table-cell;
}
    
.facility-distribution-form-table th {
    text-align: left;
    min-height: 62px;
    font-size: 0.8em;
    font-weight: bold;
    text-shadow: 0 1px 1 #fff;
    padding: 10px;
    background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
}
    
.facility-distribution-form-table td {
    min-height: 71px;
}
    
.facility-distribution-form-table td .input-error-parent-cell{
    position: relative;
}
    
.facility-distribution-form-table td label {
    margin-right: 15px;
    font-size: 0.8em;
}
    
.facility-distribution-form-table table tr:nth-child(even) td {
    background: #f9f9f9;
}
    
.facility-distribution-form-table .col-complete-vaccinated {
    max-width: 100px;
    min-width:70px;
}
    
.facility-distribution-form-table .col-complete-vaccinated input[type="text"] {
    text-aslign: right;
    width: 80px;
}
    
.facility-distribution-form-table input[type="text"]  {
    margin-bottom: 3px;
}

.facility-distribution-form-table tr:last-child td:first-child {
    height: 50px;
}

.vertical-middle-aligned {
    vertical-align: middle !important;
}

.ui-checkbox .ui-btn-inner {
    border: none;
}
    
.ui-checkbox {
    border: none;
    text-shadow: none;
    margin: 0;
}
    
.ui-btn-inner {
    border:0;
}

.ui-btn-text {
    padding: 0;
}




 