body {
    height: 100%;
    /* This is to disable accidental of highlighting survey text */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.odk-scroll {
    margin-bottom: 1em;
}
/*
.odk-nav {
    position: relative;
    bottom: 59px;
}
*/
/* The long selector is to make sure we clobber the jqm padding styles */
.ui-page-header-fullscreen .ui-content, .ui-page-footer-fullscreen .ui-content, .odk-container {
    padding: 0;
    padding-left: 1em;
    padding-right: 1em;
}
.headerNavBtns {
    float: right;
    /* margin-right: 1em; */
}
.odk-options-btn {
    float: left;
}
/*
.headerNavBtns > a {
    margin-top:3px;
}

Orangy glow.
Eventually we should make a jqm theme for this.
*/
.ui-input-text.ui-focus, .ui-input-search.ui-focus {
    -moz-box-shadow: 0px 0px 12px 			rgb(255, 194, 0);
	-webkit-box-shadow: 0px 0px 12px 		rgb(255, 194, 0);
	box-shadow: 0px 0px 12px 				rgb(255, 194, 0);
}
#screenPopup > .message {
    font-weight: bold;
}
.strikethrough {
    text-decoration: line-through;
}

#block-ui {
    display: none;
    cursor: wait;
    position: absolute;
    top: 0px;
    left: 0px;  
    width: 100%;
    height: 100%;
    z-index: 1000; 
    background-color: #fff;
    opacity: 0.5;
}
.ui-btn-text {
    font-size: 1.3em;
    padding: .5em;
}
.deselect {
    float: right;
}
.grid-select-item {
    /*
    The height is a trade-off, we get a better looking regular grid with it set,
    but we loose the ability auto-fit arbitrary sized content.
    Maybe I could use a table to get the best of both worlds.
    */
    height: 120px;
    margin: 2px;
    padding: 3px;
}
.grid-select-item:active {
    border: 1px solid 		#aaa /*{d-bdown-border}*/;
	background: 			#eee /*{d-bdown-background-color}*/;
	font-weight: bold;
	color: 					#333 /*{d-bdown-color}*/;
	text-shadow: 0 /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 0 /*{d-bdown-shadow-radius}*/ 	#fff /*{d-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #e5e5e5 /*{d-bdown-background-start}*/), to( #f2f2f2 /*{d-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #e5e5e5 /*{d-bdown-background-start}*/, #f2f2f2 /*{d-bdown-background-end}*/);
}
.odk-label {
    font-size: larger;
}
.odk-hint {
    font-style: italic;
}
.inline-label-container {
    float:left;
    width:33%;
}
.inline-label-container > :first-child {
    margin-top: .5em;
}
.deselect.inline {
    /* Add media query for small screens? */
    margin-top: 0;
    float:left;
}